# exclude research folder
research

# exclude jupyter checkpoints
.ipynb_checkpoints


# Exclude darkflow repo, except for out project notebooks
darkflow/*
!**/*.ipynb 

# Exclude all the training data for the classifier
media/data/*

# exclude the yolo_mark repo, which is for annotating datasets
Yolo_mark/*
!**/*setup.md