[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
matplotlib = "*"
scikit-image = "*"
tensorflow = "*"
cython = "*"
lxml = "*"
opencv-contrib-python = "*"
"bd4ad10" = {path = "./darkflow"}

[dev-packages]

[requires]
python_version = "3.6"
